*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.line-height {
  line-height: 150%;
}

.bg-primary {
  background-color: #d84315;
  opacity: 0.9;
}

.bg-grey-white-text {
  color: #fff;
  background-color: #9e9e9e;
}
.bg-white-red-text {
  background-color: #fff;
  color: #d84315;
}

.bg-white-black-text {
  background-color: #fff;
  color: #000;
}

.d-flex-vertical-center-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.white-color {
  color: #fff;
}

.black-text {
  color: #000;
}

.remove-d-link-styles {
  text-decoration: none;
}
.spacer {
  flex: 1;
}

.mt-07 {
  margin-top: 0.7rem;
}
.mt-3 {
  margin-top: 3rem;
}

.p {
  padding: 0.5rem 0.7rem;
}

.remove-list-style {
  list-style: none;
}

.img-fluid {
  width: 100%;
  height: auto;
}

nav .header-container {
  display: flex;
  padding: 0.8rem 0;
  align-items: center;
}

nav .nav-items {
  display: flex;
}
.border-radius-3 {
  border-radius: 3px;
}
nav .nav-item {
  margin-left: 2rem;
  font-size: 0.9rem;
  padding: 0.5rem;
}

nav .nav-item:hover,
nav .nav-item:active {
  opacity: 0.9;
  font-weight: 500;
  background-color: #bf360c;
}

nav .brand-logo {
  font-size: 1.2rem;
}

.flex-center-center {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.landing-section {
  width: 100%;
  height: 70vh;
  background-image: linear-gradient(
      135deg,
      rgba(2, 11, 26, 0.5),
      rgba(2, 11, 26, 0.9)
    ),
    url('../images/bg-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.landing-section .landing-section-content-container {
  width: 50%;
}

.landing-section .landing-page-heading {
  margin-bottom: 0.7rem;
  text-align: center;
}

.landing-section .search-form {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1.4rem 1.4rem;
  border-radius: 5px;
}

.landing-section .fomr-group {
  display: flex;
  align-items: center;
}

.landing-section .form-control,
.landing-section .search-button {
  padding: 0.5rem 0;
}

.landing-section .form-control {
  border: 0;
  outline: none;
  width: 76%;
}

.landing-section .search-button {
  margin-left: -0.3rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.landing-section .search-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.landing-section .call-to-action-container {
  text-align: center;
}

.landing-section .call-to-action {
  display: inline-block;
  margin-top: 3.5rem;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.5rem;
  border-radius: 3px;
  color: black;
}

.steps-section .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  grid-gap: 10rem;
}

.steps-section .steps-header {
  color: #d84315;
  text-align: center;
  margin: 3rem 0;
}

.steps-section .steps-icon {
  font-size: 3rem;
}

.steps-section .steps-title {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.why-us-article {
  padding: 0.5rem 0;
}

.why-us-article .row {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
}
.why-us-article .rounded {
  border-radius: 50%;
}

@media screen and (min-width: 1025px) {
  .container {
    position: relative;
    width: 90%;
    max-width: 1350px;
    padding: 0 20px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    position: relative;
    width: 96%;
    padding: 0 5px;
    margin: 0 auto;
    overflow: hidden;
  }
  nav .d-none-medium-below {
    display: none;
  }
  .search-blue {
    background-color: #2a55b8;
  }

  .landing-section .landing-section-content-container {
    width: 86%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    position: relative;
    max-width: 100%;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    overflow: hidden;
  }
  nav .header-container {
    display: flex;
    padding: 0.8rem 0;
    flex-direction: column;
    align-items: center;
  }
  .search-blue {
    background-color: #d84315;
  }

  nav .nav-items {
    margin-top: 0.5rem;
  }

  .landing-section .landing-section-content-container,
  .landing-section .search-button,
  .landing-section .form-control {
    width: 100%;
  }

  .landing-section .search-button {
    display: block;
    margin-left: 0;
    text-align: center;
    margin-top: 0.5rem;
  }

  .steps-section .grid-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .steps-section .grid-item:not(:first-child) {
    margin-top: 2rem;
  }

  .why-us-article .why-title {
    font-size: 1rem;
  }
  .why-us-article .row {
    padding-bottom: 1rem;
  }
}
